<div class="about-me-container" id="about-me">
    <div class="about-me-title reveal">
        <div class="title-1">About</div>
        <div class="title-2">Me</div>
    </div>
    <div class="about-me-content reveal">
        <p>Hi, I'm <u>Soham Wadhwa</u>, a passionate and driven Computer Science Engineering student at MSIT Delhi. With a strong foundation in C, C++, and Python, I'm constantly honing my skills to become one of the best programmers out there.</p>
        <p>My journey in tech is fueled by creativity, logic-building, and an insatiable curiosity to explore the ever-evolving world of programming. From solving complex problems in competitive programming to developing interactive web applications, I love turning ideas into impactful solutions.</p>
        <p>Beyond coding, I'm a football enthusiast, a car aficionado, and an avid reader who enjoys diving into novels. These hobbies keep me inspired and balanced, fueling my creativity and critical thinking.</p>
        <p>Take a look at my projects to see how I combine my skills and passions to create meaningful work. Let's connect and build something amazing together!</p>
    </div>
</div>