<div class="contact-section" id="contact">
    <div class="contact-section-title reveal">
        Let's <span>Connect</span>
    </div>
    <div class="contact-content reveal">
        <div class="contact-content-text">
            <div class="contact-content-text-line">Have a project in mind or just want to say hi? Feel free to reach out to me. I'm always open to new opportunities and collaborations.</div>
            <a class="btn-3d-animation btn-email">Start a Conversation</a>
        </div>
        <div class="social-media">
            <a class="icon" href="https://www.linkedin.com/in/soham-wadhwa/" target="_blank" style="text-decoration: none;">
                <i class="ph ph-linkedin-logo icon-img"></i>
                <span class="icon-text">LinkedIn</span>
            </a>
            <a class="icon" href="https://github.com/SohamWadhwa/" target="_blank" style="text-decoration: none;">
                <i class="ph ph-github-logo icon-img"></i>
                <span class="icon-text">GitHub</span>
            </a>
            <a class="icon" href="https://twitter.com/SohamWadhwa_" target="_blank" style="text-decoration: none;">
                <i class="ph ph-twitter-logo icon-img"></i>
                <span class="icon-text">Twitter</span>
            </a>
        </div>
    </div>
</div>