<div class="Hero-container" id="hero">
    <div class="Hero-content-title">
        <h1 class="Hero-content-title-1 slide-in-left">Soham</h1>
        <h1 class="Hero-content-title-2 slide-in-left">Wadhwa</h1>
    </div>
    <div class="Hero-content ">
        Crafting exceptional digital experiences through innovative design and development.
    </div>
    <div class="Hero-content-btns">
        <a class="btn-3d-animation" href="#projects">View Projects</a>
        <a class="btn-fill-animation" href="#contact">Get In Touch</a>
    </div>
    <div class="Scroll-animation-container">
        <div class="scroll-icon">
            <div class="scroll-wheel"></div>
        </div>
        <div class="scroll-text">SCROLL</div>
    </div>
</div>