<nav id="navbar">
    <div class="navbar-container">
        <div class="logo">
            <a id ="logo-content" href="#">
                <div class="logo-text">Portfolio</div>
                <div class="logo-icon"><i class="fas fa-circle" style="color: #ff3366; font-size: 8px"></i></div>
            </a>
        </div>
        <button class="hamburger" aria-label="Toggle navigation">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul id = "navbar-menu">
            <li class="navbar-menu-item item1"><a href="#about-me">About</a></li>
            <li class="navbar-menu-item item2"><a href="#skills">Skills</a></li>
            <li class="navbar-menu-item item3"><a href="#projects">Projects</a></li>
            <li class="navbar-menu-item item4"><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>