<div class="project-container" id="projects">
    <div class="projects-title reveal">
        <div>My</div><div>Projects</div>
    </div>
    <div class="projects">
        <div class="project">
            <div class="project-title reveal">
                <a class="credit" href="https://github.com/SohamWadhwa/Projects" target="_blank">Credit Card Validator</a>
                <i class="fa-solid fa-arrow-right arrow"></i>
            </div>
            <div class="summary">
                A simple command line program to validate credit card numbers using python.
            </div>
            <div class="project-preview">
                <video class="vid" muted autoplay loop>
                    <source src="/assets/credit.mp4" type="video/mp4">
                </video>
            </div>
            <div class="divider"></div>   
        </div>
        <div class="project">
            <div class="project-title reveal">
                <a class="movie_app" href="https://movie-app-kart.netlify.app/" target="_blank">Movie App</a>
                <i class="fa-solid fa-arrow-right arrow"></i>
            </div>
            <div class="summary">
                A movie app that allows users to search for movies and view details about them.
            </div>
            <div class="project-preview">
                <video class="vid" muted autoplay loop>
                    <source src="/assets/Movie_app.mp4" type="video/mp4">
                </video>
            </div>  
        </div>
    </div>
</div>