<div class="skills-container" id="skills">
    <div class="skills-title reveal">
        <div>My</div><div>Skills</div>
    </div>
    <div class="skill-container-main">
        <div class="web-dev-skill s-contain">
            <div class="web-dev-skill-title">
                Web Development
            </div>
            <div class="web-dev-skill-content">
                <div class="skill-element" id="html">
                    <div class="progress-txt"><div>HTML</div><div class="progress-num">50%</div></div>
                </div>
                <div class="skill-element" id="css">
                    <div class="progress-txt"><div>CSS</div><div class="progress-num">50%</div></div>
                </div>
                <div class="skill-element" id="javascript">
                    <div class="progress-txt"><div>JavaScript</div><div class="progress-num">50%</div></div>
                </div>
                <div class="skill-element" id="nodejs">
                    <div class="progress-txt"><div>NodeJs</div><div class="progress-num">20%</div></div>
                </div>
            </div>
        </div>
        <div class="pro-lang-skill s-contain">
            <div class="pro-lang-skill-title">
                Programming Languages
            </div>
            <div class="pro-lang-skill-content">
                <div class="skill-element" id="c">
                    <div class="progress-txt"><div>C</div><div class="progress-num">80%</div></div>
                </div>
                <div class="skill-element" id="cpp">
                    <div class="progress-txt"><div>Cpp</div><div class="progress-num">60%</div></div>
                </div>
                <div class="skill-element" id="python">
                    <div class="progress-txt"><div>Python</div><div class="progress-num">20%</div></div>
                </div>
            </div>
        </div>
        <div class="db-oth-skill s-contain">
            <div class="db-oth-skill-title">
                Database & Others
            </div>
            <div class="db-oth-skill-content">
                <div class="skill-element" id="sql">
                    <div class="progress-txt"><div>SQL</div><div class="progress-num">80%</div></div>
                </div>
                <div class="skill-element" id="dsa">
                    <div class="progress-txt"><div>DSA</div><div class="progress-num">60%</div></div>
                </div>
            </div>
        </div>
    </div>
</div>