<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.body.style.visibility = 'visible';
            initializeAnimations();
        });

    </script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="main.css"/>
    <link rel="stylesheet" href="NavBar.css"/>
    <script src="js/navbar.js" defer></script>
    <link rel="stylesheet" href="Hero.css"/>
    <script src="js/hero.js" type="module" defer></script>
    <link rel="stylesheet" href="About-me.css"/>
    <link rel="stylesheet" href="Skills/Skills.css"/>
    <script type="module" src="Skills/skill.js"></script>
    <link rel="stylesheet" href="Projects-section/projects.css"/>
    <script src="Projects-section/projects.js" defer></script>
    <link rel="stylesheet" href="Contact.css"/>
    <link rel="stylesheet" href="Footer.css"/>
    <link rel="stylesheet" href="animations.css" />
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fa491c06e8.js" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>