.skills-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 250px;
    /* border: 1px solid black; */
    
}

.skills-title {
    display: flex;
    font-family: "Space Grotesk";
    font-size: 48px;
    font-weight: bolder;
    color: #1A1A1A;
    gap: 0.7rem;
    letter-spacing: 0.1rem;
}

.skills-title div:nth-of-type(2) {
    color: #ff3366;
}

.skill-container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    width: 100%;
    margin: 20px;
}

.web-dev-skill, .pro-lang-skill, .db-oth-skill {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 45%;
    gap: 20px;
    margin: 20px;
}

.web-dev-skill-title, .pro-lang-skill-title, .db-oth-skill-title {
    display: flex;
    font-family: "Space Grotesk";
    font-size: 1.5rem;
    font-weight: bolder;
    color: #ff3366;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;;
}

.progress-txt {
    display: flex;
    justify-content: space-between;
}

.progress-num {
    font-family: "Space Grotesk";
    font-size: 1rem;
    font-weight: 40;
    color: #1A1A1A;
    gap: 0.5rem;
}

.web-dev-skill-content, .pro-lang-skill-content, .db-oth-skill-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-element {
    display: flex;
    flex-direction: column;
    color: #1A1A1A;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
    gap: 5px;
}